.img-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  letter-spacing: 0.05rem;
  width: 100%;
  height: 100%;
}
html,
body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  line-height: 1.5;
  color: white;
}
h1 {
  font-size: 3rem;
}
h2,
h3 {
  font-size: 2.4rem;
}
p,
i {
  font-size: 2rem;
}
a {
  text-decoration: none;
  font-weight: 600;
}
strong {
  font-size: 2.4rem;
  font-weight: 600;
}
.styled-button {
  border: 1px solid white;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 10px 0;
  text-align: center;
  margin: 30px 0;
  letter-spacing: 0.5rem;
  transition: background 0.4s;
}
.primary-button {
  background-color: white;
  color: #242943;
}
.primary-button:hover {
  border: 1px solid #6fc3df;
  background: #242943;
  color: #6fc3df;
}
.secondary-button {
  background: transparent;
  color: white;
}
.secondary-button:hover {
  background: #6fc3df;
  border: 1px solid #6fc3df;
  color: #242943;
}
.blur {
  filter: blur(10px);
}
.heading-with-line {
  width: max-content;
}
.heading-with-line h1,
.heading-with-line h2,
.heading-with-line h3 {
  width: calc(100% + 1rem);
}
.heading-with-line h1:after,
.heading-with-line h2:after,
.heading-with-line h3:after {
  content: "";
  margin-top: 20px;
  display: block;
  height: 2px;
  background: white;
  width: 100%;
}
.credit {
  color: white;
  text-decoration: none;
}
.credit:hover {
  color: #6fc3df;
}
.banner {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}
.banner.index-banner {
  background-image: url("/img/working-together2.jpeg");
  height: 60vh;
}
@media (min-width: 500px) {
  .banner.index-banner {
    height: 80vh;
  }
}
@media (min-width: 800px) {
  .banner.index-banner {
    height: 60vh;
  }
}
@media (min-width: 1000px) {
  .banner.index-banner {
    height: 80vh;
  }
}
.banner.about-banner {
  background-image: url("/img/working-together-3.jpg");
  height: 40vh;
}
@media (min-width: 500px) {
  .banner.about-banner {
    height: 60vh;
  }
}
@media (min-width: 800px) {
  .banner.about-banner {
    height: 40vh;
  }
}
@media (min-width: 1000px) {
  .banner.about-banner {
    height: 60vh;
  }
}
.banner nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background: rgba(36, 41, 67, 0.9);
  padding: 10px 0;
  position: fixed;
  z-index: 1;
  height: 40px;
}
.banner nav i {
  font-size: 2.4rem;
  margin-right: 10px;
  cursor: pointer;
  transition: color 0.4s;
}
.banner nav i:hover {
  color: #6fc3df;
}
.banner nav .logo {
  background: white;
  font-size: 1.4rem;
  color: #242943;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  margin-left: 10px;
  transition: background 0.4s;
}
.banner nav .logo:hover {
  background: #6fc3df;
}
.banner .banner-color {
  background: rgba(36, 41, 67, 0.9);
  height: calc(100% - 40px);
  position: relative;
  top: 40px;
}
.banner .banner-color .header-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 1000px) {
  .banner .banner-color .header-content {
    width: 80%;
  }
}
.banner .banner-color .header-content h1 {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid white;
}
@media (min-width: 800px) {
  .banner .banner-color .header-content h1 {
    font-size: 3rem;
  }
}
.banner .banner-color .header-content p {
  width: 100%;
  margin: 10px 0 0;
}
.banner .banner-color .header-content a {
  width: 60%;
}
@media (min-width: 500px) {
  .banner .banner-color .header-content a {
    width: 40%;
  }
}
@media (min-width: 800px) {
  .banner .banner-color .header-content a {
    width: 30%;
  }
}
@media (min-width: 1000px) {
  .banner .banner-color .header-content a {
    width: 20%;
  }
}
.cta {
  background: #2b3150;
  padding: 20px 0;
}
.cta .cta-content {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1000px) {
  .cta .cta-content {
    width: 80%;
  }
}
.cta .cta-content h2 {
  padding: 20px 0 15px;
}
.cta .cta-content p {
  padding: 20px 0 0;
}
.cta .cta-content .button-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 500px) {
  .cta .cta-content .button-area {
    width: 70%;
  }
}
@media (min-width: 1000px) {
  .cta .cta-content .button-area {
    width: 50%;
  }
}
.cta .cta-content .button-area a {
  width: 45%;
}
.grid {
  display: grid;
}
.grid.index-grid {
  grid: "box1" auto "box2" auto "box3" auto "box4" auto / 1fr;
}
@media (min-width: 800px) {
  .grid.index-grid {
    grid: "box1 box2" auto "box3 box4" auto / 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  .grid.index-grid {
    grid: "box1 box1 box2" auto "box3 box4 box4" auto / 1fr 1fr 1fr;
  }
}
.grid.about-grid {
  grid: "box1" auto "box2" auto "box3" auto "box4" auto "box5" auto "box6" auto / 1fr;
}
@media (min-width: 800px) {
  .grid.about-grid {
    grid: "box1 box2" auto "box3 box4" auto "box5 box6" auto / 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  .grid.about-grid {
    grid: "box1 box2 box3" auto "box4 box5 box6" auto / 1fr 1fr 1fr;
  }
}
.grid .box .bg-color {
  width: 100%;
  height: 100%;
  transition: background 0.4s;
}
.grid .box .bg-color.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.grid .box .bg-color.team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.grid .box .bg-color.team h3 {
  margin-left: -0.4rem;
}
.grid .box .bg-color.team .box-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.grid .box .bg-color .box-content {
  margin: 3rem;
}
.grid .box .bg-color .box-content h3 {
  margin-bottom: 20px;
}
.grid .box .bg-color .box-content img {
  border-radius: 50%;
}
.grid .box:nth-child(1n) .bg-color {
  background: rgba(111, 195, 223, 0.9);
}
.grid .box:nth-child(2n) .bg-color {
  background: rgba(141, 130, 196, 0.9);
}
.grid .box:nth-child(3n) .bg-color {
  background: rgba(236, 141, 129, 0.9);
}
.grid .box:nth-child(4n) .bg-color {
  background: rgba(231, 183, 136, 0.9);
}
.grid .box:nth-child(5n) .bg-color {
  background: rgba(142, 169, 232, 0.9);
}
.grid .box:nth-child(6n) .bg-color {
  background: rgba(135, 197, 164, 0.9);
}
.grid .box1 {
  grid-area: box1;
  background: url("/img/hands-joined.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid .box2 {
  grid-area: box2;
  background: url("/img/person-leaning.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid .box3 {
  grid-area: box3;
  background: url("/img/person-jumping.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid .box4 {
  grid-area: box4;
  background: url("/img/two-workers.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid .box5 {
  grid-area: box5;
  background: url("/img/food-service.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid .box6 {
  grid-area: box6;
  background: url("/img/construction-site.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.menu {
  background: rgba(36, 41, 67, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  display: none;
  z-index: 999;
}
.menu .close {
  font-size: 3rem;
  position: fixed;
  top: 10px;
  right: 1rem;
  cursor: pointer;
}
.menu .menu-content {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 500px) {
  .menu .menu-content {
    width: 50%;
  }
}
@media (min-width: 1000px) {
  .menu .menu-content {
    width: 40%;
  }
}
.menu .menu-content .links {
  font-size: 1.6rem;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  width: 100%;
  text-align: center;
}
.menu .menu-content .links:hover {
  color: #6fc3df;
}
.menu .menu-content .styled-button {
  margin: 10px 0;
  width: 100%;
}
footer {
  background: #242943;
  padding: 10px 0 30px;
}
@media (min-width: 1000px) {
  footer {
    padding: 30px 0 50px;
  }
}
footer .social-icons {
  padding: 20px 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
@media (min-width: 500px) {
  footer .social-icons {
    width: 35%;
    margin-left: 5%;
  }
}
@media (min-width: 800px) {
  footer .social-icons {
    width: 25%;
  }
}
@media (min-width: 1000px) {
  footer .social-icons {
    margin-left: 10%;
    width: 18%;
  }
}
footer .social-icons i {
  color: #242943;
  background: white;
  border-radius: 50%;
  text-align: center;
  width: 4rem;
  padding: 1rem 0;
  transition: background 0.4s;
}
footer .social-icons i:hover {
  background: #6fc3df;
}
footer p {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
@media (min-width: 500px) {
  footer p {
    text-align: left;
    margin-left: 5%;
  }
}
@media (min-width: 1000px) {
  footer p {
    margin-left: 10%;
  }
}
