.img-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  letter-spacing: 0.05rem;
  height: 100%;
  width: 100%;
}
html,
body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  line-height: 1.5;
}
.primary-button {
  background-color: white;
  color: #242943;
  padding: 10px 30px;
  border: 1px solid white;
}
.secondary-button {
  font-size: 1.4rem;
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 30px;
  margin: 30px 0;
}
.blur {
  filter: blur(10px);
}
header {
  background-image: url("/img/working-together2.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 60vh;
  color: white;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(36, 41, 67, 0.9);
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 40px;
}
header nav i {
  font-size: 2.4rem;
  color: white;
  margin-right: 10px;
  cursor: pointer;
}
header nav a {
  background: white;
  font-size: 1.2rem;
  color: #242943;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  margin-left: 10px;
}
header .bg-color {
  background: rgba(36, 41, 67, 0.9);
  height: calc(100% - 40px);
  position: relative;
  top: 40px;
}
header .bg-color .text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
@media (min-width: 1000px) {
  header .bg-color .text {
    width: 80%;
  }
}
header .bg-color .text h1 {
  font-size: 2.4rem;
  padding: 20px 0;
  border-bottom: 1px solid white;
  width: 100%;
}
header .bg-color .text p {
  font-size: 1.6rem;
  width: 100%;
  margin: 10px 0 0;
}
.cta {
  background: #2b3150;
  color: white;
}
.cta .cta-content {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 1000px) {
  .cta .cta-content {
    width: 80%;
  }
}
.cta .cta-content h2 {
  font-size: 1.8rem;
  padding: 20px 0 15px;
  border-bottom: 1px solid white;
  width: 30%;
}
.cta .cta-content p {
  font-size: 1.6rem;
  padding: 20px 0 0;
  border-bottom: none;
}
.cta .cta-content .button-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 500px) {
  .cta .cta-content .button-area {
    width: 70%;
  }
}
@media (min-width: 1000px) {
  .cta .cta-content .button-area {
    width: 50%;
  }
}
.cta .cta-content .button-area button {
  width: 45%;
}
.grid {
  display: grid;
  grid: "box1" auto "box2" auto "box3" auto "box4" auto / 1fr;
}
@media (min-width: 500px) {
  .grid {
    grid: "box1 box2" auto "box3 box4" auto / 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  .grid {
    grid: "box1 box1 box2" auto "box3 box4 box4" auto / 1fr 1fr 1fr;
  }
}
.grid .box .bg-color {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  height: 100%;
  color: white;
}
.grid .box .bg-color .box-content {
  width: 80%;
  margin: 3rem;
}
.grid .box .bg-color .box-content h3 {
  font-size: 1.8rem;
  padding: 0;
  border-bottom: none;
}
.grid .box .bg-color .box-content p {
  font-size: 1.6rem;
  padding: 0;
  border-bottom: none;
}
.grid .box:nth-child(1n) .bg-color {
  background: rgba(111, 195, 223, 0.9);
}
.grid .box:nth-child(1n) .bg-color:hover {
  background: rgba(36, 41, 67, 0.9);
}
.grid .box:nth-child(2n) .bg-color {
  background: rgba(141, 130, 196, 0.9);
}
.grid .box:nth-child(2n) .bg-color:hover {
  background: rgba(36, 41, 67, 0.9);
}
.grid .box:nth-child(3n) .bg-color {
  background: rgba(236, 141, 129, 0.9);
}
.grid .box:nth-child(3n) .bg-color:hover {
  background: rgba(36, 41, 67, 0.9);
}
.grid .box:nth-child(4n) .bg-color {
  background: rgba(231, 183, 136, 0.9);
}
.grid .box:nth-child(4n) .bg-color:hover {
  background: rgba(36, 41, 67, 0.9);
}
@media (min-width: 500px) {
  .grid .box {
    flex: 1 0 50%;
  }
}
.grid .box1 {
  grid-area: box1;
  background: url("/img/hands-joined.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 1000px) {
  .grid .box1 {
    flex: 1 0 40%;
  }
}
.grid .box2 {
  grid-area: box2;
  background: url("/img/person-leaning.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 1000px) {
  .grid .box2 {
    flex: 1 0 60%;
  }
}
.grid .box3 {
  grid-area: box3;
  background: url("/img/two-workers.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 1000px) {
  .grid .box3 {
    flex: 1 0 60%;
  }
}
.grid .box4 {
  grid-area: box4;
  background: url("/img/person-jumping.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 1000px) {
  .grid .box4 {
    flex: 1 0 40%;
  }
}
.menu {
  background: rgba(36, 41, 67, 0.9);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  display: none;
  z-index: 999;
}
.menu .close {
  color: white;
  font-size: 3rem;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.menu .menu-content {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 500px) {
  .menu .menu-content {
    width: 50%;
  }
}
@media (min-width: 1000px) {
  .menu .menu-content {
    width: 40%;
  }
}
.menu .menu-content a {
  font-size: 1.6rem;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-weight: bold;
  color: white;
  text-decoration: none;
  width: 100%;
  text-align: center;
}
.menu .menu-content button {
  font-size: 1.6rem;
  padding: 15px 0;
  border-bottom: 1px solid white;
  margin: 20px 0 0;
  font-weight: bold;
  width: 100%;
}
footer {
  background: #242943;
  padding: 10px 0 30px;
}
@media (min-width: 1000px) {
  footer {
    padding: 30px 0 50px;
  }
}
footer .social-icons {
  padding: 20px 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
@media (min-width: 500px) {
  footer .social-icons {
    width: 35%;
    margin-left: 5%;
  }
}
@media (min-width: 1000px) {
  footer .social-icons {
    margin-left: 10%;
    width: 18%;
  }
}
footer .social-icons i {
  font-size: 2rem;
  color: #242943;
  background: white;
  border-radius: 50%;
  display: inline-block;
  width: 4rem;
  padding: 1rem 0;
  text-align: center;
}
footer p {
  font-size: 1.6rem;
  padding: 0;
  border-bottom: none;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
@media (min-width: 500px) {
  footer p {
    text-align: left;
    margin-left: 5%;
  }
}
@media (min-width: 1000px) {
  footer p {
    margin-left: 10%;
  }
}
