.cta {
  background: @main-color-light;
  color: white;
  .cta-content {
    width: 90%;
    margin: 0 auto;
    @media @desktop {
      width: 80%;
    }
    h2 {
      .font(1.8rem, 20px 0 15px, 1px solid white);
      width: 30%;
    }
    p {
      .font(1.6rem, 20px 0 0, none);
    }
    .button-area {
      .custom-flex(space-between, center);
      @media @tablet {
        width: 70%;
      }
      @media @desktop {
        width: 50%;
      }
      a {
        width: 45%;
      }
    }
  }
}
