.grid {
  display: grid;
  &.index-grid {
    grid:
      "box1" auto
      "box2" auto
      "box3" auto
      "box4" auto/ 1fr;
    @media @tablet {
      grid:
        "box1 box2" auto
        "box3 box4" auto/ 1fr 1fr;
    }
    @media @desktop {
      grid:
        "box1 box1 box2" auto
        "box3 box4 box4" auto/ 1fr 1fr 1fr;
    }
  }
  &.about-grid {
    grid:
      "box1" auto
      "box2" auto
      "box3" auto
      "box4" auto
      "box5" auto
      "box6" auto/ 1fr;
    @media @tablet {
      grid:
        "box1 box2" auto
        "box3 box4" auto
        "box5 box6" auto/ 1fr 1fr;
    }
    @media @desktop {
      grid:
        "box1 box2 box3" auto
        "box4 box5 box6" auto/ 1fr 1fr 1fr;
    }
  }
  .box {
    .bg-color {
      .dimensions(100%, 100%);
      .background-transition;
      &.info {
        .custom-flex(flex-start, center, wrap);
      }
      &.team {
        .custom-flex(center, center, wrap);
        text-align: center;
        h3 {
          margin-left: -0.4rem;
        }
        .box-content {
          .custom-flex(center, center, wrap);
          flex-direction: column;
        }
      }
      .box-content {
        margin: 3rem;
        h3 {
          margin-bottom: 20px;
        }
        img {
          border-radius: 50%;
        }
      }
    }

    &:nth-child(1n) .bg-color {
      background: @accent1-translucent;
    }
    &:nth-child(2n) .bg-color {
      background: @accent2-translucent;
    }
    &:nth-child(3n) .bg-color {
      background: @accent3-translucent;
    }
    &:nth-child(4n) .bg-color {
      background: @accent4-translucent;
    }
    &:nth-child(5n) .bg-color {
      background: @accent5-translucent;
    }
    &:nth-child(6n) .bg-color {
      background: @accent6-translucent;
    }
  }
  .box1 {
    grid-area: box1;
    background: @bg-1;
    .img-bg;
  }
  .box2 {
    grid-area: box2;
    background: @bg-2;
    .img-bg;
  }
  .box3 {
    grid-area: box3;
    background: @bg-3;
    .img-bg;
  }
  .box4 {
    grid-area: box4;
    background: @bg-4;
    .img-bg;
  }
  .box5 {
    grid-area: box5;
    background: @bg-5;
    .img-bg;
  }
  .box6 {
    grid-area: box6;
    background: @bg-6;
    .img-bg;
  }
}
