.banner {
  .img-bg;
  background-attachment: fixed;
  width: 100%;
  color: white;
  &.index-banner {
    background-image: @index-banner-img;
    height: 60vh;
    @media @landscape {
      height: 80vh;
    }
  }
  &.about-banner {
    background-image: @about-banner-img;
    height: 40vh;
    @media @landscape {
      height: 60vh;
    }
    @media @tablet {
      height: 40vh;
    }
  }
  nav {
    .custom-flex(space-between, center);
    background: @banner-color;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 40px;
    i {
      font-size: 2.4rem;
      color: white;
      margin-right: 10px;
      cursor: pointer;
    }
    .logo {
      background: white;
      font-size: 1.2rem;
      color: @main-color;
      text-decoration: none;
      font-weight: bold;
      padding: 5px;
      margin-left: 10px;
    }
  }
  .banner-color {
    background: @banner-color;
    height: calc(100% - 40px);
    position: relative;
    top: 40px;
    .header-content {
      .custom-flex(flex-start, center);
      position: relative;
      align-content: center;
      flex-wrap: wrap;
      width: 90%;
      height: 100%;
      margin: 0 auto;
      @media @desktop {
        width: 80%;
      }
      h1 {
        .font(2.4rem, 20px 0);
        border-bottom: 1px solid white;
        width: 100%;
        @media @tablet {
          font-size: 3rem;
        }
      }
      p {
        font-size: 1.6rem;
        width: 100%;
        margin: 10px 0 0;
        @media @tablet {
          font-size: 1.8rem;
        }
      }
      a {
        width: 60%;
        @media @landscape {
          width: 40%;
        }
        @media @tablet {
          width: 30%;
        }
        @media @desktop {
          width: 20%;
        }
      }
    }
  }
}
