header {
  background-image: @banner-img;
  .img-bg;
  background-attachment: fixed;
  width: 100%;
  height: 60vh;
  color: white;
  .bg-color {
    background: @banner-color;
    height: 100%;
    nav {
      .custom-flex(space-between, center);
      padding-top: 10px;
      position: fixed;
      width: 100%;
      i {
        font-size: 2.4rem;
        color: white;
        margin-right: 10px;
      }
      a {
        background: white;
        font-size: 1.2rem;
        color: @main-color;
        text-decoration: none;
        font-weight: bold;
        padding: 5px;
        margin-left: 10px;
      }
    }
    .text {
      .custom-flex(flex-start, center);
      align-content: center;
      flex-wrap: wrap;
      width: 90%;
      height: 100%;
      margin: 0 auto;
      h1 {
        .font(2.4rem, 20px 0, 1px solid white);
        width: 100%;
      }
      p {
        font-size: 1.6rem;
        width: 100%;
        margin: 10px 0 0;
      }
    }
  }
}
