.custom-flex(@justify-content, @align-items, @wrap) {
  display: flex;
  justify-content: @justify-content;
  align-items: @align-items;
  flex-wrap: @wrap;
}
.img-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.w-100() {
  width: 100%;
}
.dimensions(@width, @height) {
  width: @width;
  height: @height;
}
.background-transition() {
  transition: background 0.4s;
}

.block-center(@yMargin) {
  margin: @yMargin auto;
}
