.custom-flex(@justify, @align) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
}
.img-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.font(@size, @padding) {
  font-size: @size;
  padding: @padding;
}
