// images
@index-banner-img: url("/img/working-together2.jpeg");
@about-banner-img: url("/img/working-together-3.jpg");

// colors
@main-color: #242943;
@main-color-light: lighten(@main-color, 4%);
@banner-color: fade(@main-color, 90%);

@accent1: #6fc3df;
@accent2: #8d82c4;
@accent3: #ec8d81;
@accent4: #e7b788;
@accent5: #8ea9e8;
@accent6: #87c5a4;

@accent1-translucent: fade(@accent1, 90%);
@accent2-translucent: fade(@accent2, 90%);
@accent3-translucent: fade(@accent3, 90%);
@accent4-translucent: fade(@accent4, 90%);
@accent5-translucent: fade(@accent5, 90%);
@accent6-translucent: fade(@accent6, 90%);

// typography
@main-font: "Source Sans Pro", Helvetica, sans-serif;
@extra-small-text: 1.4rem;
@small-text: 1.6rem;
@medium-text: 2rem;
@large-text: 2.4rem;
@extra-large-text: 3rem;

// media queries
@landscape: ~"(min-width: 500px)";
@tablet: ~"(min-width: 800px)";
@desktop: ~"(min-width: 1000px)";
